include mixins/message

doctype html
html(lang="ko")
  head 
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet" href="/static/css/styles.css")
  body
    if messages.error
      +message("error", messages.error)
    if messages.info
      +message("info", messages.info)
    if messages.success
      +message("sucess", messages.success)
    include partials/header
    main
      block content
    include partials/footer
  script(src="https://kit.fontawesome.com/b7f69e0a07.js" crossorigin="anonymous")
  script(src="/static/js/main.js")
  block scripts